@model IEnumerable<Task2.Models.News>

<h2>News Collection</h2>
<table class="table">
    @foreach (var news in Model)
    {
        <tr>
            <td>@news.Caption</td>
            <td>
                <form asp-action="Delete" asp-route-id="@news.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>